/* SETUP */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

.container{
    width: 80%;
    margin: 30px auto;
}

/* PRODUCT SECTION */

.product{
    display: inline-block;
    width: calc(97% / 3);
    margin: 2px;
    margin-bottom: 25px;
}

.image-product{
    position: relative;
}

img{
    width: 100%;
}

/* INFO PRODUCT */
.info-product{
    position: absolute;
    bottom: 15px;
    left: 0;
}

/* DISCOUNT */
.discount{
    padding: 2px;
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 14px;
    margin-right: 3px;
}

/* SUSTAINABILITY*/
.sustainability{
    padding: 2px 4px;
    color: white;
    background-color: #00875a;
    font-weight: bold;
    font-size: 14px;
}

/* HEARTS */
.hearts{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 27px;
    padding: 5px 12px;
    background-color: white;
    color: black;
}

.hearts:hover{
    color: #eb0037;
    cursor: pointer;
}

/* PRICE */
.info{
    margin: 7px 0;
    font-size: 14px;
}

.price{
    color: #eb0037;
    font-weight: bold;
}

.original-price{
    text-decoration: line-through;
}

/* IMAGE SECTION */
.image-1{
    display: block;
}
.image-1-b{
    display: none;
}

.image-product:hover .image-1{
    display: none;
}
.image-product:hover .image-1-b{
    display: block;
}